@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root{
    --light-magent: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);

    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);

    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-light-magenta: hsl(289, 100%, 72%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
section.booking{
    height: 800px;
    width: 100%;
    max-width: 90rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    overflow: hidden;
    
}
.app-ui__container{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.app-ui__container::before{
    content: '';
    width: 30.69rem;
    height: 43.75rem;
    background: linear-gradient(to bottom, var(--light-magent), var(--light-violet));
    border-bottom-right-radius: 257px;
    border-bottom-left-radius: 226px;
    position: absolute;
    top: 0;
    left: -4.44rem;
}

/* app ui */
.app-ui{
    width: 15.43rem;
    height: 31.62rem;
    border: .63rem solid var(--white);
    border-radius: 1.88rem;
    background: var(--light-grayish-violet);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 9.25rem;
    left: 22.69rem;
    box-shadow: 0 0px 10px rgba(0, 0, 0, .3),
                0 0px 25px rgba(0, 0, 0, .1);
}
/* app ui header */
.app-ui header{
    width: 100%; /* 14.19rem */
    height: 4.13rem;
    display: grid;
    grid-template-columns: 8px 30px auto 20px;
    background: linear-gradient(to right, var(--light-violet), var(--light-magent));
    align-items: center;
    grid-column-gap: .5rem;
    padding: 1.88rem 0.94rem 0.75rem 0.94rem;
    
    position: relative;
    margin-bottom: 1rem;
}
.app-ui header::before{
    content: '';
    height: 1.94rem;
    width: 8.06rem;
    position: absolute;
    top: .1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    background: var(--white);
}
.app-ui header a{
    display: inline-block;
    display: flex;
    align-items: center;
}
.app-ui header a img{
    display: inline-block;
    width: .3125rem;
    height: 1rem;
}
.app-ui header .avater{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--white);
}
.app-ui header .avater img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.app-ui header .user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--white);
}
.app-ui header .user h4{
    font-size: .56rem;
    font-weight: 500;
    margin-bottom: .25rem;

}
.app-ui header .user p{
    color: var(--pale-violet);
    font-size: .44rem;
}
/* menu */
.app-ui header .menu{
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.app-ui header .menu span{
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: var(--white);
    position: relative;
}
.app-ui header .menu span::before,
.app-ui header .menu span::after{
    content: '';
    position: absolute;
    top: 3px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--white);
}
.app-ui header .menu span::after{
    top: -3px;
}

/* message */
.message{
    height: 26.06rem;
    width: 100%;
    background: var(--light-grayish-violet);
    padding: 0 .5rem;
    font-size: 0.5rem;
    
}
.m{
    margin-bottom: .6rem;
    display: inline-block;
    width: 8rem;
}
.m__left{
    transform: translateX(0);
}
.m__right{
   transform: translateX(65%);
   text-align: right;
}
.msg{
    padding: .5rem;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, .2); */
    
    border-radius: .6rem;
    border-bottom-right-radius: .3rem;
    margin-bottom: 0.5rem;
    /* height: 2.81rem; */
    display: inline-block;
}
.message__received{
    background:  #eee6f4;
    color: var(--moderate-violet);
    width: 8rem;
}
.message__sent{
    background: var(--white);
    color: var(--desaturated-dark-violet);
    
}
.message__sent--img{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.44rem;
}
.message__sent--img img{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem;
    border-radius: 0.36rem;
}
.message__sent--img img:last-child{
    margin-right: 0;
}
.pricing{
    width: 9.88rem;
    background: linear-gradient(to right, var(--light-magent), var(--light-violet));
    display: none;
    align-items: center;
    justify-content: flex-start;
    color: var(--white);
}
.pricing:last-child{
    margin: 0;
}
.radio{
    width: 15px;
    height: 15px;
    border: 1px solid var(--very-light-magenta);
    background: transparent;
    border-radius: 100%;
    margin-right: 10px;

}
.price{
    font-weight: 500;
    font-size: .8rem;
    margin-left: auto;
}
form{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    margin-bottom: .88rem;
    border-radius: 1rem;
    background: var(--white);
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
form input{
    background: var(--white);
    border: none;
    width: 9rem;
}
form input:focus{
    border: none;
    outline: none;
}
form ::-webkit-input-placeholder{
    color: var(--grayish-blue);
    font-size: 0.5rem;
}
form button.btn__send{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    border: none;
    background: var(--very-dark-desaturated-violet);
    color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
form button:hover{
    background: var(--very-light-magenta);
    
}
form button:hover > img{
    transform: scale(1.1);
}
form button img{
    display: inline-block;
    width: .7rem;
    height: .7rem;
    fill-rule: var(--white);
    transition: all .3s ease-in;
}
/* booking body */
.booking__body{
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.38rem;
    position: relative;
}
.booking__body::before{
    content: '';
    width: 28.56rem;
    height: 42.5rem;
    background: rgba(249, 244, 250, 0.699);
    border-top-right-radius: 244px;
    border-top-left-radius: 193px;
    position: absolute;
    bottom: 0;
    right: -8.44rem;
    
}
.booking__container{
    width: 27.44rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;

}

.booking__title{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2.06rem;
    color: var(--very-dark-desaturated-violet);
}
.booking__text{
    font-size: 1rem;
    line-height: 1.7;
    color: var(--dark-grayish-violet);
}

.typing__bubble{
    width: 60px;
    padding: 1rem 1.2rem;
    border-radius: 40px;
    background: var(--very-dark-desaturated-violet);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: center;
    align-items: center;
}
.typing__bubble > span{
    display: inline-block;
    width: 5px;
    height: 5px;
    background: rgb(255, 255, 255);
    border-radius: 50%;    
    animation: typing 1s forwards infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    
}
.typing__bubble span:nth-child(2){
    margin: 0 4px;
    animation-delay: .2s;
}
.typing__bubble span:nth-child(3){
    animation-delay: .3s;
}

/* animation */
@keyframes typing{
    0%{
        transform: scale(.7);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* generic classes */
.hide{
    display: none;
}
.show{
    display: flex;
}

@media screen and (max-width: 1200px ){
    .app-ui__container::before{
        /* width: 15.75rem;
        height: 31.75rem;
        border-radius: 0;
        border-bottom-right-radius: 283px; */
        left: -8rem;
    }
    .app-ui{
        left: 13rem;
        top: 10rem;
        z-index: 10;
    }
}


@media screen and (max-width: 900px){
    section.booking{
        height: 58.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.booking > *{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

    }
    .app-ui__container::before{
        width: 18.75rem;
        height: 31.75rem;
        border-radius: 0;
        border-bottom-right-radius: 283px;
        left: 0rem;
    }
    .app-ui{
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .booking__body::before{
        content: '';
        width: 15.75rem;
        height: 31.75rem;
        border-radius: 0;
        border-top-left-radius: 283px;
        right: -4rem;
        
    }
    .booking__title{
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2.06rem;
        color: var(--very-dark-desaturated-violet);
    }
    .booking__text{
        font-size: 1rem;
        line-height: 1.7;
        color: var(--dark-grayish-violet);
    }
}

@media screen and (max-width: 600px){
    section.booking{
        height: 58.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section.booking > *{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

    }
    .booking__body::before{
        content: '';
        width: 15.75rem;
        height: 31.75rem;
        border-radius: 0;
        border-top-left-radius: 283px;
        right: -4rem;
        
    }
    .app-ui{
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .booking__container{
        width: 18.81rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        margin-top: 4.38rem;
    
    }
    
    .booking__title{
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2.06rem;
        color: var(--very-dark-desaturated-violet);
    }
    .booking__text{
        font-size: 1rem;
        line-height: 1.7;
        color: var(--dark-grayish-violet);
    }
}